<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout.html}">
  <head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
    <link rel="stylesheet" th:href="@{/css/common/login.css}">
  </head>

  <body>

    <header layout:fragment="header"></header>

    <main layout:fragment="main" >

      <div class="login-container">
        <h1 class="login-title">로그인</h1>
        <form class="login-form" method="post">
          <input class="login-id"
                 type="text"
                 th:value="${userId}"
                 name="userId"
                 placeholder="아이디">
          <input class="login-pw"
                 type="password"
                 name="password"
                 placeholder="비밀번호">
          <button class="login-btn" type="submit">로그인</button>
          <span class="login-error" th:text="${errorMsg}"></span>
        </form>
      </div>

    </main>


  </body>

</html>