<div th:fragment="answer"
     th:if="${form.formType.isAnswerForm()}"
     class="form-main-answer-container">

  <div class="form-content-name">
    답변
  </div>
  <div class="form-answer-input-container">
              <textarea th:field="*{qnaAnswer}"
                        th:errorclass="input-error"
                        onchange="validateAnswer()"
                        class="form-answer-textarea" ></textarea>
    <span class="form-answer-error field-error"></span>
    <span th:errors="*{qnaAnswer}" class="field-error"></span>
  </div>

</div>
