<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout.html}">

  <head>
    <meta charset="UTF-8">
    <title th:text="${form.boardType.getTitle()}"></title>
    <link rel="stylesheet" th:href="@{/css/board/boardForm.css}">
  </head>

  <body>

    <header layout:fragment="header">
      <h1 th:text="${form.boardType.getTitle()}" class="form-header-title"></h1>
    </header>

    <main layout:fragment="main">

      <div class="form-main-container">

        <form th:method="post" th:object="${form}">

          <div class="form-main-type-container">
            <div class="form-type-name">
              분류
              <span class="from-required-star">*</span>
            </div>
            <div class="form-type-input-container">
              <select th:field="*{categoryId}" class="form-type-select">
                <option th:each="category : ${categoryList}"
                        th:value="${category.categoryId}"
                        th:text="${category.categoryName}">
                </option>
              </select>
            </div>
          </div>

          <div class="form-main-title-container">
            <div class="form-title-name">
              제목
              <span class="from-required-star">*</span>
            </div>
            <div class="form-title-input-container">
              <input th:field="*{boardTitle}" type="text" class="form-title-input">
            </div>
          </div>

          <div class="form-main-content-container">
            <div class="form-content-name">
              내용
              <span class="from-required-star">*</span>
            </div>
            <div class="form-content-input-container">
              <textarea th:field="*{boardContent}" class="form-content-textarea" ></textarea>
            </div>
          </div>

          <div th:if="${form.hasFileInput()}" class="form-main-file-container">
            <div class="form-file-name">
              첨부
            </div>
            <div class="form-file-input-container">
              <input type="file" name="files" class="form-file-input">
            </div>
          </div>

          <div th:if="${form.hasAlarmInput()}"
               class="form-main-noti-container">
            <div class="form-noti-name">
              알림글
            </div>
            <div class="form-noti-input-container">
              <input th:field="*{checkAlarm}" type="checkbox" class="form-noti-check">
            </div>
          </div>

          <div class="form-main-btn-container">
            <button type="submit" class="form-btn-submit">등록 / 수정</button>
            <a th:href="|/admin/${form.boardType.getValue()}|">
              <button type="button" class="form-btn-list">목록</button>
            </a>
            <button type="button" class="form-btn-delete">삭제</button>
          </div>

        </form>

      </div>

    </main>

  </body>

</html>