input, select {
  padding: 0 5px;
  height: 25px;
  box-sizing: border-box;
}

.search-condition-container {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.search-first-container {
  border: var(--main-border-gray);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  gap: 10px;
}

.search-date-register {
  font-size: var(--middle-font-size);
  margin-right: 20px;
}

.search-keyword-select {
  width: 150px;
}

.search-keyword-input {
  margin-left: 20px;
  width: 400px;
}

.search-keyword-btn {
  width: 100px;
  background-color: var(--main-color-blue);
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.search-second-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
}

.search-limit-text {
  margin-left: 5px;
}

.search-order-title {
  margin-right: 10px;
}

.search-ordercondition-select, .search-order-select {
  width: 100px;
}

.search-date-error {
  border: 1px solid red;
}