<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ReplyMapper">

    <!-- 게시글의 댓글을 등록합니다. -->
    <insert id="insert"
            parameterType="ReplyDto"
            useGeneratedKeys="true"
            keyProperty="replyId">
        INSERT INTO reply
            (board_id,
             reply_content,
             user_id,
             user_name)
        VALUES
            (#{boardId},
             #{replyContent},
             #{userId},
             #{userName})
    </insert>

    <!-- 댓글을 조회합니다. -->
    <select id="selectById"
            parameterType="long"
            resultType="ReplyDto">
        SELECT
            r.user_id,
            r.user_name,
            <include refid="selectReply"/>
        FROM reply r
        WHERE reply_id = #{replyId}

    </select>

    <!-- 게시글번호로 댓글을 조회합니다.-->
    <select id="selectByBoardId"
            parameterType="long"
            resultType="ReplyDto">
        SELECT
            <include refid="selectReply"/>
        FROM reply r
        WHERE r.board_id = #{boardId}
    </select>

    <!-- 댓글을 삭제합니다. -->
    <delete id="delete"
            parameterType="long">
        DELETE FROM reply
        WHERE reply_id = #{replyId}
    </delete>

    <!-- 게시글에 등록된 댓글을 삭제합니다. -->
    <delete id="deleteByBoardId"
            parameterType="long">
        DELETE FROM reply
        WHERE board_id = #{boardId}
    </delete>

    <sql id="selectReply">
        r.reply_id,
        r.board_id,
        r.reply_content,
        r.user_id,
        r.user_name,
        r.create_date,
        r.update_date
    </sql>

</mapper>