<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">

    <!-- 사용자를 조회합니다. -->
    <select id="selectUserById"
            parameterType="string"
            resultType="userDto">
        SELECT u.user_id, /* 사용자 아이디 */
               u.user_pw, /* 사용자 비밀번호 */
               u.user_name, /* 사용자 이름 */
               u.create_date, /* 생성일시 */
               u.update_date /* 수정일시 */
        FROM user u
        WHERE u.user_id = #{userId}
    </select>

    <!-- 사용자를 등록합니다. -->
    <insert id="insert"
            parameterType="userDto"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO user
            (user_id, /* 사용자 아이디 */
            user_pw, /* 사용자 비밀번호 */
            user_name) /* 사용자 이름 */
        VALUES
            (#{userId},
             #{userPw},
             #{userName})
    </insert>

</mapper>