<div th:fragment="pagination" class="paging-container" >

  <div class="paging-prev-total-container">
    <a th:if="${pageHandler.isPreviousTotal()}"
       th:href="|${#httpServletRequest.getRequestURI()}${condition.getQueryParam(pageHandler.getBeginPage() - 1)}|"
       class="paging-prev-total">&lt;&lt;
    </a>
  </div>

  <div class="paging-prev-container">
    <a th:if="${pageHandler.isPrevious()}"
       th:href="|${#httpServletRequest.getRequestURI()}${condition.getQueryParam(pageHandler.getPage() - 1)}|"
       class="paging-prev">&lt;
    </a>
  </div>

  <div th:if="${pageHandler.getTotalCnt() != 0}" class="paging-index-container">
    <a th:each="idx : ${#numbers.sequence(pageHandler.getBeginPage(), pageHandler.getEndPage())}"
       th:href="|${#httpServletRequest.getRequestURI()}${condition.getQueryParam(idx)}|"
       th:text="${idx}"
       class="paging-page">
    </a>
  </div>

  <div class="paging-next-container">
    <a th:if="${pageHandler.isNext()}"
       th:href="|${#httpServletRequest.getRequestURI()}${condition.getQueryParam(pageHandler.getPage() + 1)}|"
       class="paging-next">&gt;
    </a>
  </div>

  <div class="paging-next-total-container">
    <a th:if="${pageHandler.isNextTotal()}"
       th:href="|${#httpServletRequest.getRequestURI()}${condition.getQueryParam(pageHandler.getMaxPage() + 1)}|"
       class="paging-next-total">&gt;&gt;
    </a>
  </div>

</div>