<div class="search-condition-container" th:fragment="searchCondition">

  <form class="search-form" th:method="get">

    <div class="search-first-container">

      <div class="search-date-container">
        <span class="search-date-register">등록일시</span>
        <input class="search-date-from"
               type="date"
               name="fromDate">
        <span class="search-date-between"> ~ </span>
        <input class="search-date"
               type="date"
               name="toDate">
      </div>

      <div class="search-keyword-container">
        <select class="search-keyword-select" name="searchCategory" >
          <option value="">전체 분류</option>
          <optgroup th:label="${categoryMap.key}"
                    th:each="categoryMap : ${categories}">
            <option th:each="category : ${categoryMap.getValue()}"
                    th:value="${category.getCategoryId()}"
                    th:selected="${category.getCategoryId()} == ${condition.getSearchCategory()}"
                    th:text="${category.getCategoryName()}">
            </option>
          </optgroup>
        </select>

        <input class="search-keyword-input"
               type="text"
               name="search"
               placeholder="제목 OR 내용">
        <button class="search-keyword-btn" type="submit">검색</button>
      </div>

    </div>

    <div class="search-second-container">

      <div class="search-limit-container">
        <select name="limit">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <span class="search-limit-text">개씩 보기</span>
      </div>

      <div class="search-order-container">
        <span class="search-order-title">정렬</span>
        <select name="orderType" class="search-ordertype-select">
          <option value="selectCategory">분류</option>
          <option value="title">제목</option>
          <option value="viewCnt">조회수</option>
        </select>
        <select name="order" class="search-order-select">
          <option value="desc">내림차순</option>
          <option value="asc">오름차순</option>
        </select>
      </div>

    </div>

  </form>

</div>