<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">

    <!-- 유저를 조회합니다. -->
    <select id="selectUserById"
            parameterType="string"
            resultType="userDto">
        SELECT user_id,
               user_pw,
               user_name,
               user_auth,
               create_date,
               update_date
        FROM user
        WHERE user_id = #{userId}
    </select>

    <insert id="insertUser"
            parameterType="userDto">
        INSERT INTO user
            (user_id,
            user_pw,
            user_name,
            user_auth)
        VALUES
            (#{userId},
             #{userPw},
             #{userName},
             #{userAuth})
    </insert>

</mapper>