.index-header-container {
  font-size: var(--small-font-size);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  padding: 10px;
}

.index-main-container {
  height: 600px;
  display: flex;
  padding: 0 10px
}

.index-section-container {
  flex-basis: 15%;
  border-right: 1px solid var(--main-border-color);
}

.index-section-list-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-section-list {
  margin: 20px 0;
  font-weight: bold;
  font-size: var(--middle-font-size);
}

.index-article-list-container {
  flex-basis: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.index-article-list-container article {
  width: 45%;
  height: 250px;
  margin: 0 15px;
  border: var(--main-border-gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--small-font-size);
}

.index-article-container  {

}

.index-article-title {
  border-bottom: 1px solid var(--main-border-color);
  padding: 2px 0;
  font-weight: bold;
}

.index-article-header {
  display: flex;
  padding: 2px 0;
  border-bottom: 1px solid var(--main-border-color);
  font-weight: bold;
}

.index-article-header-no, .index-board-list-no {
  flex-basis: 10%;
}

.index-article-header-type, .index-board-list-type  {
  flex-basis: 15%;
}

.index-article-header-title {
  flex-basis: 75%;
}

.index-board-list-container {
  display: flex;
  padding: 2px 0;
  border-bottom: 1px solid var(--main-border-color);
}

.index-board-list-title {
  text-align: left;
 flex-basis: 75%;
}

.index-article-qna-container {
  position: relative;
}

.index-article-qna {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 12px;
}

