:root {
  --title-font-size: 20px;
  --middle-font-size: 15px;
  --small-font-size: 13px;

  --main-border-gray: 1px solid #C0C0C0;

  --main-color-border: #C0C0C0;
  --main-color-blue: #0090F9;
  --sub-color-blue: #F0F6FA;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

button {
  padding: 3px 10px;
  border: none;
  font-size: var(--small-font-size);
  cursor: pointer;
  background-color: var(--main-color-blue);
  color: white;
  border-radius: 3px;
}

header {
  border: var(--main-border-gray);
  border-top: none;
  border-bottom: none;
  width: 1100px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  width: 1100px;
  margin: 0 auto;
  border: var(--main-border-gray);
  box-sizing: border-box;
}