<!DOCTYPE html>
  <html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
  <head>
    <meta charset="UTF-8">
    <title>관리페이지</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
  </head>

  <body>

    <header layout:fragment="header" class="index-header-container">
      <div class="index-header-name" th:text="|${#authentication.name}님 안녕하세요|"></div>
      <a class="index-header-logout" th:href="@{/admin/logout}" th:text="로그아웃"></a>
    </header>
    <main layout:fragment="main" class="index-main-container">
      <section class="index-section-container">
        <ul class="index-section-list-container">
          <li class="index-section-list">
            <a href="">공지사항 관리</a>
          </li>
          <li class="index-section-list">
            <a href="">자유 게시판 관리</a>
          </li>
          <li class="index-section-list">
            <a href="">갤러리 게시판 관리</a>
          </li>
          <li class="index-section-list">
            <a href="">문의 게시판 관리</a>
          </li>
        </ul>
      </section>
      <div class="index-article-list-container">

        <article class="index-article-container">
          <div class="index-article-title">공지사항</div>
          <div class="index-article-header">
            <div class="index-article-header-no">번호</div>
            <div class="index-article-header-type">분류</div>
            <div class="index-article-header-title">제목</div>
          </div>
          <div class="index-board-list-container">
            <div class="index-board-list-no">번호</div>
            <div class="index-board-list-type">분류</div>
            <div class="index-board-list-title">
              <a href="">제목</a>
            </div>
          </div>
        </article>

        <article class="index-article-container">
          <div class="index-article-title">자유 게시판</div>
          <div class="index-article-header">
            <div class="index-article-header-no">번호</div>
            <div class="index-article-header-type">분류</div>
            <div class="index-article-header-title">제목</div>
          </div>
          <div class="index-board-list-container">
            <div class="index-board-list-no">번호</div>
            <div class="index-board-list-type">분류</div>
            <div class="index-board-list-title">
              <a href="">제목</a>
            </div>
          </div>
        </article>

        <article class="index-article-container">
          <div class="index-article-title">갤러리</div>
          <div class="index-article-header">
            <div class="index-article-header-no">번호</div>
            <div class="index-article-header-type">분류</div>
            <div class="index-article-header-title"></div>
          </div>
          <div class="index-board-list-container">
            <div class="index-board-list-no">번호</div>
            <div class="index-board-list-type">분류</div>
            <div class="index-board-list-title">
              <a href="">그림</a>
            </div>
          </div>
        </article>

        <article class="index-article-container index-article-qna-container">
          <div class="index-article-title">
            <span class="index-article-qna" >나의 문의 내역</span>
            문의 게시판
          </div>
          <div class="index-article-header">
            <div class="index-article-header-no">번호</div>
            <div class="index-article-header-title">제목</div>
          </div>
          <div class="index-board-list-container">
            <div class="index-board-list-no">번호</div>
            <div class="index-board-list-title">
              <a href="">제목</a>
            </div>
          </div>
        </article>

      </div>
    </main>
  </body>
</html>