<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.AuthMapper">

    <!-- 사용자 권한을 등록합니다. -->
    <insert id="insertUserAuth"
            parameterType="userDto">
        INSERT INTO auth
            (user_id,
             auth_name)
        VALUES
            (#{userId},
             #{userAuth})
    </insert>

    <!-- 사용자의 권한을 조회합니다. -->
    <select id="selectAdminAuthList"
            parameterType="string"
            resultType="com.study.enums.Auth">
        SELECT auth_name /* 사용자 권한 */
        FROM auth
        WHERE admin_id = #{adminId}
    </select>



</mapper>