<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CategoryMapper">

    <!-- 상위카테고리의 자식카테고리를 조회합니다. -->
    <select id="selectByParentId"
            parameterType="long"
            resultType="categoryDto">
        SELECT category_id, /* 카테고리 번호 */
               category_name, /* 카테고리 이름 */
               parent_id /* 상위카테고리 이름 */
        FROM category
        WHERE parent_id = #{parentId}
    </select>

</mapper>
