<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.board.NoticeMapper">

    <!-- 공지글 알림을 등록합니다. -->
    <insert id="insertNoticeAlarm"
            parameterType="long">
        INSERT INTO notice_alarm
            (board_id) /* 공지사항 번호 */
        VALUES
            (#{boardId})
    </insert>

    <!-- 공지글 알림을 조회합니다.-->
    <select id="selectNoticeAlarm"
            parameterType="int"
            resultType="boardDto">
        SELECT
            '알림' AS category_name, /* 알림 카테고리 이름 */
            IF (b.create_date >= DATE(NOW()) - INTERVAL #{newDay} DAY, TRUE, FALSE) AS new_status, /* 신규 상태 */
            <include refid="com.study.mapper.board.BoardMapper.selectBoard"/>
        FROM (SELECT board_id
              FROM notice_alarm
              ORDER BY create_date DESC
              LIMIT #{limit}) a
            JOIN board b ON b.board_id = a.board_id
            JOIN user u ON b.user_id = u.user_id
            JOIN category c ON b.category_id = c.category_id
        ORDER BY b.create_date DESC
    </select>

    <!-- 공지사항 DTO를 조회합니다. -->
    <select id="selectNoticeDetail"
            parameterType="boardDto"
            resultType="boardDto">
        SELECT
            c.category_name,
            <include refid="com.study.mapper.board.BoardMapper.selectBoard"/>
        FROM board b
            JOIN category c ON c.category_id = b.category_id
        WHERE b.board_id = #{boardId}
        AND b.board_type = #{boardType}
    </select>

    <!-- 공지사항 알림을 지웁니다. -->
    <delete id="deleteNoticeAlarm"
            parameterType="long">
        DELETE
        FROM notice_alarm
        WHERE board_id = #{boardId}
    </delete>
</mapper>